:css
  .container {
    font-family: "Time New Roman"!important;
  }

= render partial: "shared/header"

#accounting_image
  .white
    .container
      %h1{:style => "color: white; font-size: 50px; margin-top: 20%;"}
        Ateneo de Manila University 
        %br
        Budget Website 
        %br
        FY 2020-2021
