
:css
  .ui.segment {
    font-size: 18px!important;
  }
%section.content
  .schedules
    %h1.ui.grey.centered.header{:style => "margin-top: 25px;"} 
      SCHEDULE OF MEETINGS
      %br
      UNIVERSITY BUDGET COMMITTEE
      %br
      %small
        FY 2020 - 2021
    %hr
    %table.ui.celled.table{:style => "line-height: 100px;"}
      %thead
        %tr
          %th Date
          %th Day
          %th Unit
          %th Time
      %tbody
      %tr
        %td
          .ui.blue.big.ribbon.label January 16
        %td Thursday
        %td
          * Briefing
          %br
          * VP for Basic Education (plus GS, JHS & SHS)

        %td
          9:00 am
          %br
          10:30 am

      %tr
        %td
          .ui.red.big.ribbon.label January 21
        %td Tuesday
        %td
          * VP for Loyola Schools
          (with Rizal Library and Recidence Halls)
          %br
          * VP for Professional Schools(with GSB, Law School, ASMPH, SOG, APS Lib, RBO and SBO)

        %td
          9:30 am
          %br
          1:30 pm
      %tr
        %td
          .ui.blue.big.ribbon.label January 23
        %td Thursday
        %td
          * VP for Administration &amp; HR (plus OHRMOD, ITRMO, Univ. Archives, CSMO, CFMO &amp; MPAO)
          %br
          * VP for University &amp; Global Relations
          %br
          * VP for Social Development(plus ACED, AIS &amp; Gawad Kalinga)
        %td
          9:30 am
          %br
          1:30 pm
          %br
          3:00 pm

      %tr
        %td
          .ui.red.big.ribbon.label February 4
        %td Tuesday
        %td
          * President’s Office (plus Art Gallery, OMI, OAR, IPO, UMCO, OUD, UREO, UPress, SQMO, UDPO, Arete, Univ. Athletics and ULCO)
          %br
          * General Administration
          %br
          * VP Finance &amp; Treasurer(plus Bursar, CAO and CPO)

        %td
          9:30 am
          %br
          11:00 am
          %br
          11:30 m

      %tr
        %td
          .ui.red.big.ribbon.label
            February 13
        %td Thursday
        %td
          * Review of Proposed Major Improvement and Inspection Tour
          %br
          * Review of Proposed New Positions

        %td
          9:30 am
          %br
          1:30 pm

      %tr
        %td
          .ui.red.big.ribbon.label
            February 18
        %td Thursday
        %td
          * Final Meeting
        %td 9:30 am
