/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require AdminLTE.min
 *= require jquery-ui
 *= require _all-skins
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 
@import "semantic-ui";
@import "font-awesome";

#accounting_image {
  background: asset_url('account.jpg') no-repeat center center fixed; 
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.white {
  background-color: rgba(0, 0, 0, 0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
  margin-top: 0px!important;
}

.enter-button {
  border: 4px solid white;
  padding: 10px;
  color: white;
  font-size: 30px;
  a {
    color: white!important;
    font-family: "Time New Roman"!important;
  }
}

.ui.menu {
  border: none!important;
  box-shadow: none!important;
  margin-top: 0px!important;
  padding-top: 10px;
}


.ui.secondary.menu .item {
  margin: 0px!important;
  margin-top: 50px!important;
  font-weight: bold;
  font-size: 15px;
}


.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  margin-top: 0px!important;
}

body {
  font-family: Snell Roundhand, cursive;
}

